<h1>Stupid Coaching</h1>

<div class="coaching">
  <h3><%= @question %></h3>
  <h3>- You</h3>
</div>

<div class="coaching answer">
  <h3><%= @answer %></h3>
  <h3>- Your Coach</h3>
</div>


<%= link_to "Ask a new question to the coach", ask_path, class: "link"%>

